@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Hide scrollbars for all elements */
* {
  /* Firefox */
  scrollbar-width: none;

  /* Internet Explorer 10+ */
  -ms-overflow-style: none;
}

/* WebKit browsers like Chrome, Safari */
*::-webkit-scrollbar {
  display: none;
}

:root {
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
  --foreground-rgb: 255, 255, 255;
  --background-gray: #444444; 
}

body {
  font-family: var(--font-geist-sans), sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to right, var(--background-gray), #000); 
  transition: background 0.8s ease, color 0.8s ease;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(to right, var(--background-gray), #000); 
    color: #fff; 
  }
}
